html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background-color: white;
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  font-family:  "acumin-pro","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
}
nav {
  background-color: #fff;
  justify-content: space-between;
  display: flex;
  height: 80px;
  padding: 0 16px;
}

#top-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

input {
  height: 58px;
  width: 600px;
  border-radius: 100px;
  border: 0px;
  padding: 0 16px;
  border: 1px solid rgba(0, 0, 0, .3);
}
#destinations {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px
}
#recommended {
  display: flex;
  justify-content: center;
  gap: 6px

}
#actions {
  display: flex;
  justify-content: center;
  gap: 6px
}
#destinations > p {
  color:  black;
  border-radius: 50px;
  padding: 6px 15px;
}
#recommended > p {
  color:  white;
  border-radius: 6px;
  padding: 10px 25px;
  border: 2px solid black;
  background-color: black;
}
#actions > p {
  color:  black;
  border-radius: 50px;
  padding: 10px 25px;
}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 72px 32px;
  gap: 32px;
}
.img-placeholder {
  width: 355px;
  height: 270px;
  border-radius: 8px;
  background-color: black;
}
.card-footer{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
button {
font-weight: bold;
border: 1px solid lightgrey;
}
#log-button {
  border-radius: 40px;
  color: blue;
  padding: 10px 25px;
  background-color: rgb(227, 241, 255);
}
#sign-button {
  border-radius: 40px;
  color: white;
  padding: 10px 25px;
  background-color: blue;
}
#free-button {
  border-radius: 40px;
  color: black;
  padding: 10px 25px;
  background-color: rgb(244, 241, 241);
}